{% extends "registration/base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="container" style="background-color:#fff;">
    <div class="row sign-in">
        <!------Empty div------->
        <!-- <div class="col-md-4"></div> -->
        <div class="col-md-6 mt-5">
            {% if form.errors %}
            <p> Password or Username is Incorrect </p>
            {% endif %}
            <img class="thumbnail" src="/static/photos/insta.jpg" style="height:400px;width:450px;">
        </div>
        <div class="col-md-6  mt-5">
            <div class="card card-registration">
                <div class="card-details">
                    <h1 class="text-center"> Instagram </h1>
                    <hr>
                    <div class="card-form-section">
                        <form action="/accounts/login/" method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="form-group">
                                <input type="submit" class="btn btn primary btn-sm" value="Login">
                            </div>
                            <input type="hidden" name="next" value="{{next}}">
                        </form>
                    </div>
                    <hr>
                    <p><a href="/accounts/register/">Sign Up</a> in case you do not have an account.</p>
                </div>
            </div>
        </div>

        
        <div class="row p-0 m-0">
            <div class="col-md-6">
                <div class="card mt-5" style="width: 28rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Get the app.</h5>
                        <a href="https://itunes.apple.com/app/instagram/id389801252?mt=8&vt=lo" target="_blank"><img
                                src="/static/photos/appstore.png" alt="App Store" class="img-fluid" width="155"></a><a
                            href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DsignupPage%26ig_mid%3DXFvrAwAEAAFy928zYRp1M-Qf66mW%26utm_content%3Dlo%26utm_medium%3Dbadge"
                            target="_blank"><img src="/static/photos/playstore.png" alt="Google Store" class="img-fluid"
                                width="150"></a>

                    </div>

                </div>
            </div>
        </div>
        <!-- -----Empty div-----
        <div class="col-md-4"></div> -->
    </div>
    
    <br>
    <br>

    <div class="container">
        <div class="col-md-12">
            <div class="footer text-center">
                <ul id="footer1">
                    <li>ABOUT US</li>
                    <li>SUPPORT</li>
                    <li>PRESS</li>
                    <li>API</li>
                    <li>JOBS</li>
                    <li>PRIVACY</li>
                    <li>TERMS</li>
                    <li>DIRECTORY</li>
                    <li>PROFILES</li>
                    <li>HASHTAGS</li>
                    <li>LANGUAGE</li>
                    <br>
                    <li style="font-size:10px;"> <strong>© 2019 JOSEPH MUEMA</strong></li>
                </ul>

            </div>

        </div>

    </div>
</div>
{% endblock %}